
.defra-form-group__easting {
    width: 33%;
    float: left;
    margin-bottom: 0;
}

.defra-form-group__northing {
    width: 33%;
    float: left;
}

.defra-form-group__northing {
    padding-left: 0.3947em;
}